{deps, [
      {ejson, ".*",{git, "git://github.com/jonasrichard/ejson",  {tag, "0.3.2"}}},
      {riak_pb, ".*", {git,"https://github.com/basho/riak_pb","master"}},
      {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git","master"}},
      {feeder, ".*", {git, "https://github.com/michaelnisi/feeder", "master"}},
      {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "master"}},
      {mochiweb_xpath, ".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", "master"}},
      {erl_csv_generator, ".*", {git, "https://github.com/manastech/erl_csv_generator.git"}},
      {erlguten, ".*",{git,"https://github.com/hwatkins/erlguten"}},
      {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
      {restc, ".", {git, "git://github.com/kivra/restclient.git", {tag, "0.3.3"}}}
      ]
}.

 {erl_first_files, ['ejson_trans']}.


{erl_opts, [debug_info,
	     {parse_transform, 'ejson_trans'}]}.

%% {erl_opts, [debug_info]}.


%% == xref ==
%%{deps_dir, ["deps"]}.


{xref_warnings, false}.

%% optional extra paths to include in xref:set_library_path/2.
%% specified relative location of rebar.config.
%% e.g. {xref_extra_paths,["../gtknode/src"]}
{xref_extra_paths,[]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

               %% == Dialyzer ==

               {dialyzer, [
                   {warnings, [underspecs, no_return]},
                   {get_warnings, true},
                   {plt_apps, top_level_deps}, % top_level_deps | all_deps
                   {plt_extra_apps, []},
                   {plt_location, local}, % local | "/my/file/name"
                   {plt_prefix, "rebar3"},
                   {base_plt_apps, [stdlib, kernel, crypto]},
                   {base_plt_location, global}, % global | "/my/file/name"
                   {base_plt_prefix, "rebar3"}
               ]}.
