{deps, [
       {feeder, ".*", {git, "https://github.com/michaelnisi/feeder", "master"}}
       ]
}.
{erl_opts, [debug_info]}.
%% == xref ==

{xref_warnings, false}.

%% optional extra paths to include in xref:set_library_path/2.
%% specified relative location of rebar.config.
%% e.g. {xref_extra_paths,["../gtknode/src"]}
{xref_extra_paths,[]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

               %% == Dialyzer ==

               {dialyzer, [
                   {warnings, [underspecs, no_return]},
                   {get_warnings, true},
                   {plt_apps, top_level_deps}, % top_level_deps | all_deps
                   {plt_extra_apps, []},
                   {plt_location, local}, % local | "/my/file/name"
                   {plt_prefix, "rebar3"},
                   {base_plt_apps, [stdlib, kernel, crypto]},
                   {base_plt_location, global}, % global | "/my/file/name"
                   {base_plt_prefix, "rebar3"}
               ]}.
